<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<section class="home">
		<h1>Registrarme</h1>
	</section>
	<div class="container">
		<div>
			<form th:action="@{/personitas/guardar}" method="post"
				th:object="${s}">
				<div>
					<label>Nombres:</label> <input type="text"
						th:field="*{nameStudent}">
				</div>
				<br />
				<div>
					<label>Apellidos:</label> <input type="text"
						th:field="*{lastNameStudent}">
				</div>
				<br />
				<div>
					<label>Fechas de nacimiento:</label> <input type="date"
						th:field="*{birthDateStudent}">
				</div>
				<br />
				<div>
					<label>Correo:</label> <input type="text"
						th:field="*{emailStudent}">
				</div>
				<br />
				<div>
					<label>Telefono:</label> <input type="text"
						th:field="*{cellStudent}">
				</div>
				<br /> <br />
				<div>
					<input type="submit" value="Registrar">
				</div>
			</form>
		</div>
	</div>
</body>
</html>