<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<center>
		<h2>Registrarme como especialista</h2>
	</center>
	<div class="container">
		<div>
			<form th:action="@{/especialistas/guardar}" method="post"
				th:object="${sp}">
				<div class="col-sm-12">
					<label class="form-label">Nombres: </label> <input type="text"
						class="form-control" th:field="*{nameSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Apellidos: </label> <input type="text"
						class="form-control" th:field="*{lastNameSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Email: </label> <input type="text"
						class="form-control" th:field="*{emailSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Telefono: </label> <input type="text"
						class="form-control" th:field="*{cellSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">DNI: </label> <input type="text"
						class="form-control" th:field="*{dniSpecialist}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">CPSP: </label> <input type="text"
						class="form-control" th:field="*{cpspSpecialist}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Contrasena: </label> <input type="text"
						class="form-control" th:field="*{passwordSpecialist}"></input>
				</div>
				<br>

				<div class="col-sm-12">
					<input type="submit" class="btn btn-dark" value="Registrar"
						style="color: #d3bb00; background-color: #7137c8; border-color: black"></input>
					<button class="btn btn-success"
						style="background-color: #7137c8; border-color: black">
						<a class="nav-link" href="../menu/type" style="color: #d3bb00">Volver</a>
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>