<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/app2.js}"></script>
</head>
<body>
	<header th:replace="master/masterAdmin :: header"></header>

	<div class="container">
		<div>
			<form th:action="@{/especialistas/guardar}" method="post"
				th:object="${specialist}">
				<div class="col-sm-12">
					<label class="form-label">Nombres: </label> <input type="text" id="qnamesp"
						class="form-control" th:field="*{nameSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Apellidos: </label> <input type="text" id="qlnamesp"
						class="form-control" th:field="*{lastNameSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Email: </label> <input type="text" id="emailesp"
						class="form-control" th:field="*{emailSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Telefono: </label> <input type="text" id="nnumesp"
						class="form-control" th:field="*{cellSpecialist}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">DNI: </label> <input type="text" id="dniesp"
						class="form-control" th:field="*{dniSpecialist}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">CPSP: </label> <input type="text" id="cpspesp"
						class="form-control" th:field="*{cpspSpecialist}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Contraseña: </label> <input type="text" id="passesp"
						class="form-control" th:field="*{passwordSpecialist}"></input>
				</div>
				<button type="submit" th:onclick="demo()">Registrar</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/app2.js}"></script>
</body>
</html>