<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<center>
		<section class="home">

			<h1>Bienvenido</h1>

		</section>

		<br /> <br />

		<button class="btn btn-success"
			style="background-color: #7137c8; border-color: black">
			<a class="nav-link" href="../menu/login" style="color: #d3bb00">Iniciar
				sesion</a>
		</button>

		<br /> <br />

		<button class="btn btn-success"
			style="background-color: #7137c8; border-color: black">
			<a class="nav-link" href="../menu/type" style="color: #d3bb00">Registrarme</a>
		</button>

		<br /> <br /> <br /> <a class="navbar-brand"> <img alt=""
			th:src="@{/images/home.jpg}" width="900">
		</a>

	</center>
</body>
</html>