<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="home">
		<div class="home-info">
			<h1>Estas listo para tu futuro?</h1>
			<p>En GoCareer te guiaremos para que puedas encontrar tu carrera ideal</p>
			<div class="home-info-buttons">
				<a class="button" href="../menu/login">Iniciar sesion</a> 
				<a class="button" href="../menu/type">Registrarme</a>
			</div>
		</div>
	</section>
</body>
</html>