<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<section class="home">
		<center>
			<h1>Iniciar sesion</h1>
		</center>
	</section>
	<center>
		<br> <br>
		<h:outputLabel>Correo:_____ </h:outputLabel>
		<br> <br>
		<h:outputLabel>Contrasena:_____ </h:outputLabel>
		<br> <br> <br>

		<button class="btn btn-success"
			style="background-color: #7137c8; border-color: black">
			<a class="nav-link" href="../menu/home" style="color: #d3bb00">Iniciar
				sesion</a>
		</button>
		<br /> <br /> <br /> <br />

		<button class="btn btn-success"
			style="background-color: #7137c8; border-color: black">
			<a class="nav-link" href="../menu/landing" style="color: #d3bb00">Volver</a>
		</button>
	</center>
</body>
</html>