<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1">
<title>GoCareer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="../menu/home"> <img alt=""
					th:src="@{/images/Logo_Test.png}" width="80" height="80">
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Carreras</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Preguntas</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Publicaciones</a>
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Estudiante </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/estudiantes/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/estudiantes/listar}">Listar</a></li>

							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container py4"></div>

	<footer th:fragment="footer" class="container">
		<p>Programacion en web</p>

	</footer>
</body>
</html>