@charset "ISO-8859-1";
:root{
	--fuentePrincipal: 'Roboto', sans-serif;
}
html{
	font-family: var(--fuentePrincipal);
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.home{
	background-image: url("/images/home.jpg");
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}